<!-- 
;============================================
; Title: Pets-R-Us Assignment
; Author: Danial Purselley
; Date: 24 June 2022
; Modified By: Danial Purselley
; Description: The program will simulate
; a pets-r-us page for web-340.
;=========================================== 
 -->
 <%- include('header.ejs') %>
<main id="container">
  <!-- top heading and photo wrapper -->
  <div class="content-wrapper">
    <div class="large-text center">Pup's Palace</div>
    <br>
    <div id="boarding"></div>
  </div>

  <!-- write up wrapper -->
  <div class="content-wrapper">
    <div class="small-text center">
      Have you ever needed to go out of town, but don't trust your mother-in-law to watch the pets? Well, look no further than Pets-R-Us. We have some top notch boarding facilities for all ranges of pets. Small to large, you name it, we will wil watch it! Feel free to reach out to our team and let us know how we can help you.
    </div>
    <br />
    <br />
    <hr />
  </div>

  <!-- pricing wrapper -->
  <div class="content-wrapper center">
    <div class="text-field underlined">Pricing Options</div>
    <div class="flex padded">
      <!-- 5 nights or less list -->
      <div class="center">
        <div class="small-text underlined">< 5 Nights</div>
        <ul class="small-text">
          <li>1 Dog: $30/night</li>
          <li>2 Dogs: $50/night</li>
          <li>3 Dogs: $40/night</li>
        </ul>
      </div>
      <!-- 5 nights or more list -->
      <div class="center">
        <div class="small-text underlined">> 5 Nights</div>
        <ul class="small-text">
          <li>1 Dog: $25/night</li>
          <li>2 Dogs: $40/night</li>
          <li>3 Dogs: $30/night</li>
        </ul>
      </div>
    </div>
    <br>
    <br>
    <hr>
  </div>
  
    <!-- contact form -->
    <div class="content-wrapper center">
        <form action="submit">
            <div class="text-field underlined">Contact Us</div>

            <input
            type="text"
            class="fill input"
            id="name"
            placeholder="Full Name"
            />
            <br />
            <input
            type="email"
            class="fill input"
            id="email"
            placeholder="Email Address"
            />
            <br />
            <textarea
            class="fill input"
            name="message"
            id="message"
            cols="30"
            rows="10"
            placeholder="Message"
            ></textarea>
            <br />
            <button class="btn fill" name="submit" id="submit">Send Email</button>
        </form>
        <br>
        <br>
</main>
<%- include("footer.html") %>

<!-- requirements:
250 word write up
-->
