<!-- 
;============================================
; Title: Pets-R-Us Assignment
; Author: Danial Purselley
; Date: 24 June 2022
; Modified By: Danial Purselley
; Description: The is the footer for the 
; partial view.
;=========================================== 
 -->


    <!-- footer elements -->
    <footer>
        <div class="footer-wrapper">
          <section class="footer-text">Designed by: Danial Purselley</section>
          <section class="footer-text">web-340 node.js</section>
        </div>
      </footer>
  
      <!-- start of javascript -->
      <script>
        document.getElementById("submit").onclick = function () {
          alert("Email Sent");
        };
      </script>
    </body>
  </html>
  