<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google font kit -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap"
    />
    <!-- CSS style sheets -->
    <link rel="stylesheet" href="../public/global.css" />
    <!-- page title -->
    <title>Pets-R-Us</title>
  </head>
  <body>
    <!-- header for nav bar -->
    <header>
      <nav id="nav-bar">
        <div id="nav-bar-links">
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="index.html">Homepage</a>
          </div>
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="grooming.html">Grooming</a>
          </div>
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="">Boarding</a>
          </div>
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="">Training</a>
          </div>
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="">Profile</a>
          </div>
        </div>
      </nav>
      <!-- background image -->
      <section class="hero-wrapper">
        <div class="background-image"></div>
        <div id="hero-txt" class="center">Grooming</div>
      </section>
    </header>

    <!-- floating content div -->
    <main id="container">
      <!-- header wrapper -->
      <div class="content-wrapper">
        <div class="center large-text">Fresh Cuts</div>
        <div id="wash"></div>
      </div>

      <!-- testimony wrapper -->
      <div class="content-wrapper">
        <div class="small-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ducimus
          voluptatum doloremque? Ipsum nihil quas blanditiis itaque quisquam cum
          at eligendi, debitis sit, quidem error, nulla recusandae possimus vero
          totam.
        </div>
      </div>

      <!-- pricing wrapper -->
      <div class="content-wrapper center">
        <div class="text-field underlined">Pricing Options</div>
        <ul class="small-text">
          <li>Brush: $10</li>
          <li>Fluff: $15</li>
          <li>Trim: $30</li>
          <li>Shave: $40</li>
          <li>Full-Service: $50</li>
        </ul>
      </div>
    </main>

    <!-- footer elements -->
    <footer>
      <div class="footer-wrapper">
        <section class="footer-text">Designed by: Danial Purselley</section>
        <section class="footer-text">web-340 node.js</section>
      </div>
    </footer>

    <!-- start of javascript -->
  </body>
</html>

<!-- requirements

testimony
contact
-->
