<!-- 
;============================================
; Title: Pets-R-Us Assignment
; Author: Danial Purselley
; Date: 19 June 2022
; Modified By: Danial Purselley
; Description: The program will simulate
; a pets-r-us page for web-340.
;=========================================== 
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google font kit -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap"
    />
    <!-- CSS style sheets -->
    <link rel="stylesheet" href="global.css" />
    <!-- page title -->
    <title>Pets-R-Us</title>
  </head>
  <body>
    <!-- header for nav bar -->
    <header>
      <nav id="nav-bar">
        <div id="nav-bar-links">
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="/">Homepage</a>
          </div>
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="/grooming">Grooming</a>
          </div>
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="/incomplete">Boarding</a>
          </div>
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="/incomplete">Training</a>
          </div>
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="">Profile</a>
          </div>
        </div>
      </nav>
      <!-- background image -->
      <section class="hero-wrapper">
        <div class="background-image"></div>
        <div id="hero-txt" class="center">Grooming</div>
      </section>
    </header>

    <!-- floating content div -->
    <main id="container">
      <!-- header wrapper -->
      <div class="content-wrapper">
        <div class="center large-text">Cleaning Central</div>
        <div id="wash"></div>
      </div>

      <!-- testimony wrapper -->
      <div class="content-wrapper">
        <div class="small-text center">
          Long hair don’t care? Want to be cool for the summer? Just need a nice
          clean up before the pet show? Pets-R-Us does it all, from washing, to
          brushing, to nail trimming. All of our prices are listed down below.
          <br />
          <br />
          Pets-R-Us is dedicated to serving our local community for all your pet
          needs. We have a robust team of cleaners that are able to assist in
          all matters in regard to animal hygiene. We are also committed to
          establishing a more environmentally friendly cleaning process.
          <br />
          <br />
          Please feel free to contact us so that we can better serve you!
        </div>
        <br />
        <br />
        <hr />
      </div>

      <!-- pricing wrapper -->
      <div class="content-wrapper center">
        <div class="text-field underlined">Pricing Options</div>
        <ul class="small-text">
          <li>Brush: $10</li>
          <li>Fluff: $15</li>
          <li>Trim: $30</li>
          <li>Shave: $40</li>
          <li>Full-Service: $50</li>
        </ul>
        <br />
        <br />
        <hr />
      </div>

      <!-- contact form -->
      <div class="content-wrapper center">
        <form action="submit">
          <div class="text-field underlined">Contact Us</div>

          <input
            type="text"
            class="fill input"
            id="name"
            placeholder="Full Name"
          />
          <br />
          <input
            type="email"
            class="fill input"
            id="email"
            placeholder="Email Address"
          />
          <br />
          <textarea
            class="fill input"
            name="message"
            id="message"
            cols="30"
            rows="10"
            placeholder="Message"
          ></textarea>
          <br />
          <button class="btn fill" name="submit" id="submit">Send Email</button>
        </form>

        <!-- divider -->
        <br />
      </div>
    </main>

    <!-- footer elements -->
    <footer>
      <div class="footer-wrapper">
        <section class="footer-text">Designed by: Danial Purselley</section>
        <section class="footer-text">web-340 node.js</section>
      </div>
    </footer>

    <!-- start of javascript -->
    <script>
      document.getElementById("submit").onclick = function () {
        alert("Email Sent");
      };
    </script>
  </body>
</html>

<!-- requirements

testimony
contact
-->
