<!-- 
;============================================
; Title: Pets-R-Us Assignment
; Author: Danial Purselley
; Date: 19 June 2022
; Modified By: Danial Purselley
; Description: The program will simulate
; a pets-r-us page for web-340.
;=========================================== 
 -->
<%- include('header.html') %>

<main id="container">
  <!-- header wrapper -->
  <div class="content-wrapper">
    <div class="center large-text">Cleaning Central</div>
    <br />
    <div id="wash"></div>
  </div>

  <!-- testimony wrapper -->
  <div class="content-wrapper">
    <div class="small-text center">
      Long hair don’t care? Want to be cool for the summer? Just need a nice
      clean up before the pet show? Pets-R-Us does it all, from washing, to
      brushing, to nail trimming. All of our prices are listed down below.
      <br />
      <br />
      Pets-R-Us is dedicated to serving our local community for all your pet
      needs. We have a robust team of cleaners that are able to assist in all
      matters in regard to animal hygiene. We are also committed to establishing
      a more environmentally friendly cleaning process.
      <br />
      <br />
      Please feel free to contact us so that we can better serve you!
    </div>
    <br />
    <br />
    <hr />
  </div>

  <!-- pricing wrapper -->
  <div class="content-wrapper center">
    <div class="text-field underlined">Pricing Options</div>
    <ul class="small-text">
      <li>Brush: $10</li>
      <li>Fluff: $15</li>
      <li>Trim: $30</li>
      <li>Shave: $40</li>
      <li>Full-Service: $50</li>
    </ul>
    <br />
    <br />
    <hr />
  </div>

  <!-- contact form -->
  <div class="content-wrapper center">
    <form action="submit">
      <div class="text-field underlined">Contact Us</div>

      <input type="text" class="fill input" id="name" placeholder="Full Name" />
      <br />
      <input
        type="email"
        class="fill input"
        id="email"
        placeholder="Email Address"
      />
      <br />
      <textarea
        class="fill input"
        name="message"
        id="message"
        cols="30"
        rows="10"
        placeholder="Message"
      ></textarea>
      <br />
      <button class="btn fill" name="submit" id="submit">Send Email</button>
    </form>

    <!-- divider -->
    <br />
  </div>
</main>

<%- include('footer.html') %>
