<!-- 
;============================================
; Title: Pets-R-Us Assignment
; Author: Danial Purselley
; Date: 24 June 2022
; Modified By: Danial Purselley
; Description: The is the header for the 
; partial view.
;=========================================== 
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google font kit -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap"
    />
    <!-- CSS style sheets -->
    <link rel="stylesheet" type="text/css" href="global.css" />
    <!-- JavaScript links -->
    <script src="./header.js"></script>
    <!-- page title -->
    <title>Pets-R-Us</title>
  </head>

  <body>
    <header>
      <nav id="nav-bar">
        <div id="nav-bar-links">
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="/">Homepage</a>
          </div>
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="/grooming">Grooming</a>
          </div>
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="/boarding">Boarding</a>
          </div>
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="/training">Training</a>
          </div>
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="/incomplete">Profile</a>
          </div>
        </div>
      </nav>
      <!-- background image -->
      <section class="hero-wrapper">
        <div class="background-image"></div>
        <div id="hero-txt" class="center"><%= title %></div>
      </section>
    </header>

