<!-- 
;============================================
; Title: Pets-R-Us Assignment
; Author: Danial Purselley
; Date: 19 June 2022
; Modified By: Danial Purselley
; Description: The program will simulate
; a pets-r-us page for web-340.
;=========================================== 
 -->

<!-- calling the header script -->
<%- include('header.html') %>

<!-- floating content div -->
    <main id="container">
      <!-- large location name div -->
      <div class="content-wrapper">
        <div class="center large-text">Dallas, TX</div>
      </div>

      <!-- store location information wrapper -->
      <div class="content-wrapper center">
        <!-- text representation of address -->
        <div class="text-field padded">
          Conveniently located in downtown Dallas. Walking distance from 3 dog
          parks! Right across from the Hilton.
          <br />
        </div>
        <!-- address -->
        <div class="text-field">1305 Parkway Dallas, TX</div>
        <div class="content-wrapper center flex">
          <!-- map div -->
          <div id="map"></div>
        </div>
        <!-- store hours wrapper -->
        <div class="content-wrapper">
          <div class="text-field underlined">Store Hours</div>
          <ul class="small-text">
            <li>Sun: Closed</li>
            <li>Mon: 0800-1900</li>
            <li>Tue: 0800-1900</li>
            <li>Wed: 0800-1900</li>
            <li>Thu: 0800-1900</li>
            <li>Fri: 0800-1900</li>
            <li>Sat: 0900-2000</li>
          </ul>
        </div>

        <!-- divider -->
        <br />
        <hr />
      </div>

      <!-- additional location wrapper -->
      <div class="content-wrapper">
        <div class="text-field center underlined">Locations</div>
        <div class="small-text center">
          Pets-R-Us has 250 stores nationwide. Most major cities, to include
          Houston, Austin, San Antonio, Atlanta, Vegas, New York, LA and more.
          We pride ourselves on being able to serve our communities all across
          the country. We offer a wide range of services for all pets large and
          small. For any inquiries about non-standard pet service requests,
          please reach out to our store.
        </div>

        <!-- divider -->
        <br />
        <br />
        <hr />
      </div>

      <!-- contact form -->
      <div class="content-wrapper center">
        <form action="submit">
          <div class="text-field underlined">Contact Us</div>

          <input
            type="text"
            class="fill input"
            id="name"
            placeholder="Full Name"
          />
          <br />
          <input
            type="email"
            class="fill input"
            id="email"
            placeholder="Email Address"
          />
          <br />
          <textarea
            class="fill input"
            name="message"
            id="message"
            cols="30"
            rows="10"
            placeholder="Message"
          ></textarea>
          <br />
          <button class="btn fill" name="submit" id="submit">Send Email</button>
        </form>

        <!-- divider -->
        <br />
        <br />
        <br />
        <hr />
      </div>

      <!-- dog of the week wrapper -->
      <div class="content-wrapper">
        <!-- pup header -->
        <div class="text-field center underlined">Pick of the Litter</div>
        <!-- paragraph and photo wrapper -->
        <div class="content-wrapper flex">
          <div class="small-text center">
            This week's top pup is Sadie! She loves to snuggle up on the couch,
            swim in the pool and chase her brother Milo.
          </div>
          <div id="sadie"></div>
        </div>

        <!-- divider -->
        <br />
        <hr />
      </div>

      <!-- customer testimonials -->
      <div class="content-wrapper">
        <div class="text-field underlined center">Customer Testimonials</div>
        <!-- first customer testimony -->
        <div class="content-wrapper center">
          <div class="small-text">
            Pets-R-Us has given me a safe place to be able to take my new dog
            and get him trained. Thanks to the great training team, I can now
            confidently take Snoopy on walks without fear of him running off.<br />
            -Madison P.
          </div>
          <br />
          <div id="person-1" class="center"></div>
          <br />
          <br />
        </div>
        <!-- second customer testimony -->
        <div class="content-wrapper center">
          <div class="small-text">
            French Bulldogs are a very high maintenance breed. With the help of
            the grooming team at Pets-R-Us, we are able to lessen Milo's
            allergies. <br />
            -Samuel L. J.
          </div>
          <br />
          <div id="person-2" class="center"></div>
        </div>
      </div>
    </main>


    <!-- calling the footer -->
    <%- include('footer.html') %>

