<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google font kit -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap"
    />
    <!-- CSS style sheets -->
    <link rel="stylesheet" href="../public/global.css" />
    <!-- page title -->
    <title>Pets-R-Us</title>
  </head>
  <body>
    <!-- header for nav bar -->
    <header>
      <nav id="nav-bar">
        <div id="nav-bar-links">
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="index.html">Homepage</a>
          </div>
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="grooming.html">Grooming</a>
          </div>
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="">Boarding</a>
          </div>
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="">Training</a>
          </div>
          <!-- individual link wrappers -->
          <div class="link-wrapper">
            <a href="">Profile</a>
          </div>
        </div>
      </nav>
      <!-- background image -->
      <section class="hero-wrapper">
        <div class="background-image"></div>
        <div id="hero-txt" class="center">Pets-R-Us</div>
      </section>
    </header>

    <!-- floating content div -->
    <main id="container">
      <!-- large location name div -->
      <div class="content-wrapper">
        <div class="center large-text">Dallas, TX</div>
      </div>

      <!-- store location information wrapper -->
      <div class="content-wrapper center">
        <!-- text representation of address -->
        <div class="text-field padded">
          Conveniently located in downtown Dallas, TX. Walking distance from 3
          dog parks! Right across from the Hilton.
          <br />
        </div>
        <!-- address -->
        <div class="text-field">1305 Parkway Dallas, TX</div>
        <div class="content-wrapper center flex">
          <!-- map div -->
          <div id="map"></div>
        </div>
        <!-- store hours wrapper -->
        <div class="content-wrapper">
          <div class="text-field underlined">Store Hours</div>
          <ul class="small-text">
            <li>Sun: Closed</li>
            <li>Mon: 0800-1900</li>
            <li>Tue: 0800-1900</li>
            <li>Wed: 0800-1900</li>
            <li>Thu: 0800-1900</li>
            <li>Fri: 0800-1900</li>
            <li>Sat: 0900-2000</li>
          </ul>
        </div>
      </div>

      <!-- additional location wrapper -->
      <div class="content-wrapper">
        <div class="text-field center underlined">Locations</div>
        <div class="small-text center">
          Pets-R-Us has 250 stores nationwide. Most major cities, to include
          Houston, Austin, San Antonio, Atlanta, Vegas, New York, LA and more.
          We pride ourselves on being able to serve our communities all across
          the country. We offer a wide range of services for all pets large and
          small. For any inquiries about non-standard pet service requests,
          please reach out to our store.
        </div>
      </div>

      <!-- dog of the week wrapper -->
      <div class="content-wrapper">
        <!-- pup header -->
        <div class="text-field center underlined">Pick of the Litter</div>
        <!-- paragraph and photo wrapper -->
        <div class="content-wrapper flex">
          <div class="small-text center">
            This week's top pup is Sadie! She loves to snuggle up on the couch,
            swim in the pool and chase her brother Milo.
          </div>
          <div id="sadie"></div>
        </div>
      </div>

      <!-- customer testimonials -->
      <div class="content-wrapper">
        <div class="text-field underlined center">Customer Testimonials</div>
        <!-- first customer testimony -->
        <div class="content-wrapper center">
          <div class="small-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt
            similique nesciunt adipisci sapiente unde possimus, illum veniam
            eum, doloribus iusto tempore itaque debitis voluptas sequi
            perferendis commodi. Nisi, quae unde. <br />
            -Madison P.
          </div>
          <div id="person-1" class="center"></div>
        </div>
        <!-- second customer testimony -->
        <div class="content-wrapper center">
          <div class="small-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo
            voluptatem amet aliquam cumque nisi, temporibus rerum repellendus
            quam sapiente quis sunt, esse sint. Officiis corporis quas
            repellendus magni accusantium consequuntur. <br />
            -Samuel L. J.
          </div>
          <div id="person-2" class="center"></div>
        </div>
      </div>
    </main>

    <!-- footer elements -->
    <footer>
      <div class="footer-wrapper">
        <section class="footer-text">Designed by: Danial Purselley</section>
        <section class="footer-text">web-340 node.js</section>
      </div>
    </footer>

    <!-- start of javascript -->
  </body>
</html>

<!-- requirements

testimony
contact
-->
