/* 
;============================================
; Title: Pets-R-Us Assignment
; Author: Danial Purselley
; Date: 19 June 2022
; Modified By: Danial Purselley
; Description: The program will simulate
; a pets-r-us page for web-340. This is the 
; style sheet for the project.
;=========================================== 
*/

* {
  font-family: Oswald, Verdana, Arial, san-serif;
  margin: 0;
  padding: 0;
}

/* global styles for individual class edits */
.center {
  text-align: center;
  margin: auto;
}
.large-text {
  font-size: 5rem;
}
.text-field {
  font-size: 2rem;
}
.small-text {
  font-size: 1.25rem;
}
.separated {
  justify-content: space-around;
}
.flex {
  display: flex;
}
.in-line {
  display: inline-block;
}
.underlined {
  text-decoration: underline;
}
.padded {
  padding: 1.5rem;
}
.half-width {
  width: 40%;
}
.fill {
  width: 80%;
}
.black {
  color: black;
}

/* navigation bar adjustments */
#nav-bar {
  background-color: hsla(103, 34%, 63%, 0.8);
  color: white;
}
/* set link spacing  */
#nav-bar-links {
  justify-content: space-around;
  padding: 1rem;
  display: flex;
  margin: auto;
  width: 80%;
  max-width: 900px;
}

/* remove nav link underlines */
a,
a:active,
a:visited {
  text-underline-offset: 0.2rem;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: white;
}
/* link hover styles */
a:hover {
  text-shadow: 0 0.2rem 0.5rem rgb(135, 135, 135);
  text-underline-offset: 0.2rem;
  text-decoration: underline;
  letter-spacing: 0.05em;
  cursor: pointer;
}

#profile {
  text-underline-offset: 0.2rem;
  letter-spacing: 0.05em;
}
#profile:hover {
  text-shadow: 0 0.2rem 0.5rem rgb(135, 135, 135);
  text-underline-offset: 0.2rem;
  text-decoration: underline;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.account-wrapper {
  width: 5rem;
  position: absolute;
  text-align: center;
  background-color: hsla(0, 0%, 35%, 0.8);
  padding: 0.5rem;
}

/* hero image styling */
.background-image {
  background-image: url(./images/hero.jpg);
  background-color: rgb(253, 206, 144);
  background-position: center center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -2;
  top: 0;
  left: -10;
  background-size: cover;
  background-repeat: no-repeat;
}
/* hero text styling */
#hero-txt {
  position: relative;
  font-size: 8rem;
  color: white;
  margin-top: 20%;
}

/* main content container */
#container {
  position: relative;
  background-color: hsla(0, 0%, 100%, 0.8);
  margin: auto;
  margin-top: 20%;
  width: 80%;
  max-width: 900px;
  min-width: 428px;
}

/* footer adjustments */
footer {
  background-color: hsla(0, 0%, 35%, 0.8);
  position: relative;
  margin-top: 3rem;
  width: 100%;
  bottom: 0;
  left: 0;
}
/* spacing of the footer sections */
.footer-wrapper {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 60%;
  margin: auto;
}
/* text color */
.footer-text {
  padding: 1rem;
  color: white;
  opacity: 80%;
}

/* wrapper for the text/content inside of the main white container */
.content-wrapper {
  position: relative;
  padding: 1.5rem;
  margin: auto;
  width: auto;
  contain: content;
}

/* Set the size of the div element that contains the map */
#map {
  background-image: url(./images/dallas.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 50rem;
  max-height: 640px;
  min-height: 230px;
  min-width: 230px;
  width: 50rem;
  margin: auto;
}
/* space the store hours closer to the header */
#hours {
  padding: none;
}
/* remove the bullets from list items */
ul > li {
  list-style-type: none;
}

/* contact form styling */
.input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid hsla(103, 34%, 63%, 1);
  margin-top: 3rem;
}
/* set contact hover color */
.input:hover {
  cursor: pointer;
  background-color: hsla(10, 100%, 100%, 0.5);
}
/* submit button styles */
.btn {
  border: 1px solid hsla(10, 100%, 100%, 0.5);
  background-color: hsla(103, 34%, 63%, 0.8);
}
.btn:hover {
  cursor: pointer;
  border: 1px solid rgb(87, 87, 87, 0.5);
  background-color: hsla(103, 34%, 63%, 1);
  box-shadow: 0 0 0.5rem gray;
}

/* 
; photo stylings
 */

/* testimony 1 photo */
#person-1 {
  background-image: url(./images/person-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 20rem;
  width: 100%;
}
/* testimony 2 photo */
#person-2 {
  background-image: url(./images/person-2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 20rem;
  width: 100%;
}
/* top pup image */
#sadie {
  background-image: url(./images/sadie.JPG);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 20rem;
  width: 80%;
  min-width: 50%;
}
/* dog washing photo */
#wash {
  background-image: url(./images/wash.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 20rem;
  width: 100%;
}
/* dog boarding top photo */
#boarding {
  background-image: url(./images/boarding.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 20rem;
  width: 100%;
}
/* dog training page photo */
#training {
  background-image: url(./images/training.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 20rem;
  width: 100%;
}
/* dog trainer photo */
#zane {
  background-image: url(./images/zane.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 20rem;
  width: 100%;
}

.content-table {
  border-collapse: collapse;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  margin: 3rem auto;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: hsla(103, 34%, 63%, 0.8);
  text-align: left;
}

.content-table tbody tr {
  border-bottom: 1px solid rgb(87, 87, 87, 0.5);
  text-transform: capitalize;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: hsla(103, 0%, 50%, 0.5);
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}
